
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-regular-webfont.woff') format('woff'),
  url('../fonts/lato-regular-webfont.ttf') format('truetype'),
  url('../fonts/lato-regular-webfont.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Lato';
  src: url('../fonts/lato-bold-webfont.woff') format('woff'),
  url('../fonts/lato-bold-webfont.ttf') format('truetype'),
  url('../fonts/lato-bold-webfont.svg') format('svg');
  font-weight: 700;
  font-style: normal;
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', Helvetica, Arial, sans-serif;
  font-size: 21px;
  line-height: 1.4;
  color: #000;
  height: 100%;
}

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

a {
  background-color: transparent;
  text-decoration: none;
  color: #000;
  &:active, &:hover {

    outline: 0;
  }
}

img {
  border: 0;
  max-width: 100%;
  display: block;
}

p {
  margin: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

h1{
  font-size: 45px;
  font-family: "Lato", sans-serif;
  font-weight: 700;
}

h3 {

  font-family: "Lato", sans-serif;
  font-weight: 700;

}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.page {
  position: relative;
  width: 1240px;
  min-height: 1750px;
  margin: 0 auto;
  padding: 0 55px 0 55px;
  word-wrap: break-word;
}


.wrapper {
  display: table;
  width: 100%;
  height: 100%;
}
.container {
  display: table;
  content: " ";
  width: 100%;
}

.column-ex-small {
  width: 16.66666667%;
}

.column-smaller {
  width: 25%;
}


.column-sm {
  width: 41.66666667%;
}

.column-md {
  width: 58.33333333%;
}

.column-lg {
  width: 66.66666667%;

}

.column-larger {
  width: 100%;

}

.column-ex-small, .column-smaller, .column-sm, .column-md, .column-lg, .column-larger{
  position: relative;
  float: left;
  min-height: 1px;
}


header {
  font-size: 23px;
  .logo {
    margin-top: 89px;
  }

  .header-content {

    padding: 50px 0;
    margin-bottom: 50px;
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;

  }
}

.total-price {

  border-bottom: 2px solid #000;
  padding: 20px 0 30px 24px;
  margin-bottom: 342px;


  .price {
    padding-right: 24px;
  }

  .total {
    padding-left: 24px;
  }


  .due {
    padding-top: 20px;
    font-weight: bold;
  }

}


.table {
  width: 100%;
  max-width: 100%;
  margin-top: 50px;
  thead {
    tr {

      th {
        background: #000;
        border: 0;
        vertical-align: middle;
        padding: 15px 40px 15px 0;
        color: #fff;
        text-align: left;
        white-space: nowrap;
        font-weight: 900;
        font-family: 'Lato', Helvetica, Arial, sans-serif;
        text-transform: uppercase;
        &:first-child {
          width: 100%;
          padding-left: 20px;
          padding-right: 20px;
          white-space: normal;
        }
        &:last-child {
          padding-right: 20px;
        }
      }
    }
  }
  tbody {
    tr {
      border-bottom: 1px solid #000;
      td {
        vertical-align: middle;
        white-space: nowrap;
        padding-right: 40px;
        &:first-child {
          padding-left: 20px;
          padding-right: 20px;
          white-space: normal;
        }
        &:last-child {
          padding-right: 20px;
        }
      }
    }
  }
}

footer {

  min-height: 130px;


  .container {
    padding-bottom: 70px;
  }
  .bank-details {

    margin: 16px 0;

  }
}

@media print {

  .wrapper {
    padding-bottom: 260px;
  }
  footer {

    position: fixed;
    bottom: 0;

    .container {
      padding-bottom: 0;
    }


  }
}





